{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/albums.css'%}">
    <title> {% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div>
            
            <h1>My Favorite albums</h1>
            <a style="color: red;" href="{% url 'album_new'%}">
                Add album {% include './icons/plus-square.svg' %}
            </a>
        </div>
    </header>

    <main>
        {% block content %}
        
        {% endblock%}
    </main>

</body>

</html>